<!DOCTYPE html>
<html>
<head>
  <title>Quran at a Glance - Browsable Quranic Themes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <link href="/ataglance/stylesheets/style.css" rel="stylesheet">

  <link rel="image_src" href="/ataglance/images/logo.png" />
  <link rel="apple-touch-icon" href="/ataglance/images/logo.png" />
  <link rel="icon" href="/ataglance/images/logo.png" />

  <meta name="encoding" content="UTF-8">
  <meta name="description" content="Browsable Summary and description of major themes of the Quran.">

  <meta itemprop="name" content="Quran at a Glance - Browsable Quranic Themes">
  <meta itemprop="description" content="Browsable Summary and description of major themes of the Quran.">
  <meta itemprop="image" content="https://quranunlocked.com/ataglance/images/logo.png">

  <meta property="og:site_name" content="Quran at a Glance">
  <meta property="og:locale" content="en">
  <meta property="og:url" content="https://quranunlocked.com/ataglance">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Quran at a Glance - Browsable Quranic Themes">
  <meta property="og:description" content="Browsable Summary and description of major themes of the Quran.">
  <meta property="og:image" content="https://quranunlocked.com/ataglance/images/logo.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Quran at a Glance - Browsable Quranic Themes">
  <meta name="twitter:description" content="Browsable Summary and description of major themes of the Quran.">
  <meta name="twitter:image" content="https://quranunlocked.com/ataglance/images/logo.png">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://quranunlocked.com/ataglance",
      "logo": "https://quranunlocked.com/ataglance/images/logo.png"
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "http://quranunlocked.com/ataglance",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://quranunlocked.com/ataglance?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>

</head>
<body>

  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
      <a href="/ataglance" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="me-2" src="/ataglance/images/logo.png" width="40">
        <h1 class="fs-4">Quran at a Glance</h1>
      </a>
      <div class="ms-auto">
        <form class="d-flex">
          <input class="form-control form-control-sm me-2" size="15" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-sm btn-outline-success" type="submit">Go</button>
        </form>
      </div>
    </header>

    <main class="row">

      <p class="col-12 fs-5">
        Easily grasp the structure of the Holy Quran by browsing the summary and description of its major themes, all in a form of the following table of contents.
      </p>

      <div class="col-12 dropdown mb-2">
        <button class="btn btn-success dropdown-toggle w-100" type="button" id="suraList" data-bs-toggle="dropdown" aria-expanded="false">
          Suras &amp; Bookmarks
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="suraList">
          <div id="BOOKMARKS">
          </div>          
          <%
            for (var i = 0; i < md.sura.length; i++) {
          %>
            <li><a class="dropdown-item" href="#S<%= (i+1) %>">
              <% if (md.sura[i].type === 'Meccan') { %>🕋<% } else { %>🕌<% } %>
              <%= i+1 %>. <%= md.sura[i].tname %> <span lang="ar"><%= md.sura[i].name %></span> 
              </a>
            </li>
          <% } %>
        </ul>
      </div>

      <div class="col-12">
      
      <% 
        var sura=0; 
        for (var i=0; i < toc.length; i++) { 
          var id = toc[i].sura + '_' + toc[i].range;
          var range = (toc[i].range + '').split('-');
          if (range.length == 1)
            range.push(range[0]);
          var anchors = [];
          for (var r = range[0]; r <= range[1]; r++)
            anchors.push(toc[i].sura + '_' + r);
          if (toc[i].sura != sura) { 
            sura = toc[i].sura; 
            if (sura > 1) { %>
              </div>
            <% } %>
          
          <h2 id="S<%= sura %>" class="mt-2">Sura <span lang="ar"><%= md.sura[sura-1].name %></span> <%= sura %> <%= md.sura[sura-1].tname %> (<%= md.sura[sura-1].ename %>)</h2>
          <div class="accordion" id="SURATOPICS_<%= sura %>">

          <% } %>

            <div class="accordion-item">
              <h3 id="TOPICHEAD_<%= id %>" class="accordion-header" data-id="<%= id %>">
                <button class="accordion-button collapsed row" type="button" data-bs-toggle="collapse" data-bs-target="#TOPICTEXT_<%= id %>" aria-expanded="false" aria-controls="TOPICTEXT_<%= id %>">
                  <% for (var a = 0; a < anchors.length; a++) { %><span id="A<%= anchors[a] %>"></span><% } %>
                  <div class="col">
                    <div id="TOPICREF_<%= toc[i].ref %>" class="topic">
                      <i data-id="<%= id %>" class="me-2 far fa-bookmark"></i><%= toc[i].topics %>
                    </div>
                    <div class="ref d-block d-sm-none">
                      <a href="#top"><i class="me-2 far fa-hand-point-up"></i></a><small><%= sura %>:<%= toc[i].range %></small>
                    </div>
                    <% if (admin) { %>
                    <div class="admin-ctrls" style="display:none">
                      Tags: <span id="TOPICTAGS_<%= toc[i].ref %>" contenteditable="true" style="width: 100%; display:inline-block;"><%= toc[i].tags %></span><br>
                      Range: <span id="TOPICRANGE_<%= toc[i].ref %>" contenteditable="true"><%= toc[i].range %></span>
                      <small><a class="admin-ctrl-update" data-ref="<%= toc[i].ref %>" href="#">Update</a></small>
                    </div>
                    <% } %>
                  </div>
                  <div class="ref col-2 text-end me-2 me-md-0 d-none d-sm-block">
                    <span class="badge rounded-pill bg-success"><%= sura %>:<%= range[0] %></span><a href="#top"><i class="ms-2 far fa-hand-point-up"></i></a>
                  </div>
                </button>
              </h3>
              <section id="TOPICTEXT_<%= id %>" class="accordion-collapse collapse" aria-labelledby="TOPICHEAD_<%= id %>" data-bs-parent="#SURATOPICS_<%= sura %>">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-md-6 col-12 trans"></div>
                    <div lang="ar" class="col-md-6 col-12 text"></div>
                  </div>
                  <div class="row">
                    <div class="col-12 more">
                      <a target="qu" href="https://quranunlocked.com/<%= toc[i].sura %>/<%= range[0] %>">More Translations&hellip;</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

      <% } %>
        </div>
      </div>

    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
  <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script -->
  <script src="https://kit.fontawesome.com/3c8decddde.js" crossorigin="anonymous"></script>
  <script src="/ataglance/javascripts/script.js"></script>

    <% if (admin) { %>
      <script>
        $('.accordion-item .topic').dblclick(function () {
            $(this).attr('contenteditable', 'true');
            $(this).parent().find('.admin-ctrls').show();
        });
        $('.admin-ctrl-update').click(function () {
            console.log('triggered');
            var ref = $(this).data('ref');
            var topics = $('#TOPICREF_' + ref).text();
            var range = $('#TOPICRANGE_' + ref).text();
            var tags = $('#TOPICTAGS_' + ref).text();
            $.post('/u', {
                ref: ref,
                range: range,
                topics: topics,
                tags: tags
            }, function (data) {
                history.go(0);
                return true;
            }).fail(function (err) {
                alert('Error updating item: ' + err.status + ' ' + err.statusText);
            });
        });
      </script>
    <% } %>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');	
  ga('create', 'UA-10540377-8', 'auto');
  ga('send', {
    hitType: 'pageview',
    title: 'Quran at a Glance',
    page: '/ataglance'
  });
  </script>

</body>
</html>