<!DOCTYPE html>
<html>
<head>
  <title>Quran at a Glance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <link href="/ataglance/stylesheets/style.css" rel="stylesheet">

  <link rel="image_src" href="/ataglance/images/logo.png" />
  <link rel="apple-touch-icon" href="/ataglance/images/logo.png" />
  <link rel="icon" href="/ataglance/images/logo.png" />

  <meta name="encoding" content="UTF-8">
  <meta name="description" content="Browsable Summary and description of major themes of the Quran.">

  <meta itemprop="name" content="Quran at a Glance - a Browsable Summary of the Quran">
  <meta itemprop="description" content="Browsable Summary and description of major themes of the Quran.">
  <meta itemprop="image" content="https://quranunlocked.com/ataglance/images/logo.png">

  <meta property="og:site_name" content="Quran at a Glance">
  <meta property="og:locale" content="en">
  <meta property="og:url" content="https://quranunlocked.com/ataglance">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Quran at a Glance - a Browsable Summary of the Quran">
  <meta property="og:description" content="Browsable Summary and description of major themes of the Quran.">
  <meta property="og:image" content="https://quranunlocked.com/ataglance/images/logo.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Quran at a Glance - a Browsable Summary of the Quran">
  <meta name="twitter:description" content="Browsable Summary and description of major themes of the Quran.">
  <meta name="twitter:image" content="https://quranunlocked.com/ataglance/images/logo.png">

</head>
<body>

  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
      <a href="/ataglance" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="me-2" src="/ataglance/images/logo.png" width="40">
        <span class="fs-4">Quran at a Glance</span>
      </a>
    </header>

    <main class="row">

      <p class="fs-5">
        Easily grasp the structure of the Holy Quran by browsing the summary and description of its major themes, all in a form of the following table of contents.
      </p>

      <!-- Quran -->
      <div class="col-9">
      
      <% 
        var sura=0; 
        for (var i=0; i < toc.length; i++) { 
          var id = toc[i].sura + '_' + toc[i].range;
          if (toc[i].sura != sura) { 
            sura = toc[i].sura; 
            if (sura > 1) { %>
              </div>
            <% } %>
          <h2 id="SURA_<%= sura %>" class="mt-2">Sura <%= sura %> <%= md.sura[sura-1].tname %></h2>
          <div class="accordion" id="SURATOPICS_<%= sura %>">

        <% } %>

            <div class="accordion-item">
              <h3 id="TOPICHEAD_<%= id %>" class="accordion-header" data-id="<%= id %>">
                <button class="accordion-button collapsed row" type="button" data-bs-toggle="collapse" data-bs-target="#TOPICTEXT_<%= id %>" aria-expanded="false" aria-controls="TOPICTEXT_<%= id %>">
                  <div class="col"><%= toc[i].topics %></div>
                  <div class="col-2 text-end"><span class="badge rounded-pill bg-success"><%= sura %>:<%= toc[i].range %></span></div>
                </button>
              </h3>
              <div id="TOPICTEXT_<%= id %>" class="accordion-collapse collapse" aria-labelledby="TOPICHEAD_<%= id %>" data-bs-parent="#SURATOPICS_<%= sura %>">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-md-6 col-12 trans"></div>
                    <div lang="ar" class="col-md-6 col-12 text"></div>
                  </div>
                  <div class="row">
                    <div class="col-12 more"><a target="qu" href="https://quranunlocked.com/<%= toc[i].sura %>/<%= (toc[i].range + '').split('-')[0] %>">more translations &hellip;</a></div>
                  </div>
                </div>
              </div>
            </div>

      <% } %>
        </div>
      </div>

      <!-- Navbar -->
      <div class="suranav col-3 text-muted">
        <strong class="d-block h6 my-2 pb-2 border-bottom">Suras</strong>
        <nav class="sticky-top navbar pt-3 align-items-self" style="overflow: scroll; height: 100vh;">
          <small>
          <ol>
          <%
            for (var i=0; i<md.sura.length; i++) {
          %>
            <li><a href="#SURA_<%= (i+1) %>"><%= md.sura[i].tname %></a></li>
          <% } %>
          </ol>
          </small>
        </nav>
      </div>

    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <script>
    $('.accordion-header').click(function() {
      var text = $(this).parent().find('.accordion-body .text');
      var trans = $(this).parent().find('.accordion-body .trans');
      var id = $(this).attr('data-id');
      var topic = $(this).attr('data-id');
      console.log('calling');
      $.ajax({
        url: '/r/' + id,
        context: document.body
      }).done(function(data) {
        console.log('done');
        var content = '';
        for (var i = 0; i < data.text.length; i++) {
          content += data.text[i].text + '&nbsp;<span title="' + data.text[i].index + '">۝</span> ';
        }
        text.html(content);
        content = '';
        for (var i = 0; i < data.trans.length; i++) {
          content += '<sup>';
          if (i == 0)
            content += id.split('_')[0] + ':' + data.trans[i].index;
          else
            content += data.trans[i].index;
          content += '</sup>&nbsp;' + data.trans[i].text + ' ';
        }
        trans.html(content);
        ga('send', {
          hitType: 'event',
          eventCategory: 'Topic',
          eventAction: 'view',
          eventLabel: 'Passage: ' + id
        });
      });
    });
  </script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');	
  ga('create', 'UA-10540377-8', 'auto');
  ga('send', {
    hitType: 'pageview',
    title: 'Quran at a Glance',
    page: '/ataglance'
  });
  </script>

</body>
</html>