<!DOCTYPE html>
<html>
<head>
  <title>Quran at a Glance - Browsable Quranic Themes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Browsable Summary and description of major topics and themes of the Holy Quran.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <link rel="image_src" href="/images/icon.png" />
  <link rel="apple-touch-icon" href="/images/icon.png" />
  <link rel="icon" href="/images/icon.png" />

  <meta name="encoding" content="UTF-8">
  <meta name="description" content="Browsable Summary and description of major topics and themes of the Holy Quran.">

  <meta itemprop="name" content="Quran at a Glance - Browsable Quranic Themes">
  <meta itemprop="description" content="Browsable Summary and description of major topics and themes of the Holy Quran.">
  <meta itemprop="image" content="https://quranataglance.com/images/icon.png">

  <meta property="og:site_name" content="Quran at a Glance">
  <meta property="og:locale" content="en">
  <meta property="og:url" content="https://quranataglance.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Quran at a Glance - Browsable Quranic Themes">
  <meta property="og:description" content="Browsable Summary and description of major topics and themes of the Holy Quran.">
  <meta property="og:image" content="https://quranataglance.com/images/icon.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Quran at a Glance - Browsable Quranic Themes">
  <meta name="twitter:description" content="Browsable Summary and description of major topics and themes of the Holy Quran.">
  <meta name="twitter:image" content="https://quranataglance.com/images/icon.png">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://quranataglance.com",
      "icon": "https://quranataglance.com/images/icon.png"
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://quranataglance.com",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://quranataglance.com/?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>

</head>
<body>

  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="me-2" src="/images/logo.png" width="40">
        <h1 class="fs-4">Quran at a Glance</h1>
      </a>
      <div class="ms-auto">
        <form class="d-flex" action="/" method="GET">
          <input class="form-control form-control-sm me-2" size="15" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-sm btn-outline-success" type="submit">Go</button>
        </form>
      </div>
    </header>

    <main class="row">

      <p class="col-12">
        Easily grasp the structure of the Holy Quran by browsing the summary and description of its major topics and themes, all in a form of the following table of contents.
      </p>

      <div class="col-12 dropdown mb-2">
        <button class="btn btn-success dropdown-toggle w-100" type="button" id="suraList" data-bs-toggle="dropdown" aria-expanded="false">
          Suras &amp; Bookmarks
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="suraList">
          <div id="BOOKMARKS">
          </div>          
          <%
            for (var i = 0; i < md.sura.length; i++) {
          %>
            <li><a class="dropdown-item" href="#S<%= (i+1) %>">
              <% if (md.sura[i].type === 'Meccan') { %>🕋<% } else { %>🕌<% } %>
              <%= i+1 %>. <%= md.sura[i].tname %> <span lang="ar"><%= md.sura[i].name %></span> 
              </a>
            </li>
          <% } %>
        </ul>
      </div>

      <div class="col-12">
      
      <% 
        var tags = false;
        var sura = 0; 
        for (var i = 0; i < toc.length; i++) { 
          var id = toc[i].sura + '_' + toc[i].range;
          var range = (toc[i].range + '').split('-');
          if (range.length == 1)
            range.push(range[0]);
          var anchors = [];
          for (var r = range[0]; r <= range[1]; r++)
            anchors.push(toc[i].sura + '_' + r);
          if (toc[i].sura != sura) { 
            sura = toc[i].sura;
            if (sura > 1) { %>
              </section>
            <% } %>
          
          <h2 id="S<%= sura %>" class="mt-2">Sura <span lang="ar"><%= md.sura[sura-1].name %></span> <%= sura %> <%= md.sura[sura-1].tname %> (<%= md.sura[sura-1].ename %>)</h2>
          <section id="SURATOPICS_<%= sura %>" class="list-group">

          <% } %>

              <% for (var a = 0; a < anchors.length; a++) { %><span id="A<%= anchors[a] %>" data-id="TOPICHEAD_<%= id %>"></span><% } %>
              <article id="TOPICHEAD_<%= id %>" data-id="<%= id %>" class="topics <% if (toc[i].keys) { %>key-topics<% } %> list-group-item list-group-item-action" 
                  data-bs-toggle="collapse" data-bs-target="#ASIDE_<%= id %>" aria-controls="ASIDE_<%= id %>" role="button" aria-expanded="false">
                <div id="TOPICREF_<%= toc[i].ref %>" class="d-flex w-100">
                  <i data-id="<%= id %>" class="far fa-bookmark me-2 mt-1"></i>
                  <h3 href="#TOPICHEAD_<%= id %>" class="topics-text flex-grow-1 mb-1">
                    <%= toc[i].topics %>
                  </h3>
                  <small class="ref text-nowrap ms-1">
                    <%= sura %>:<%= range[0] %>
                  </small>
                  <a class="ms-2" href="#top"><i class="far fa-hand-point-up"></i></a>
                  <i class="collapse-icon fas fa-chevron-down ms-2"></i>
                </div>
                <% if (admin) { %>
                <div class="admin-ctrls ms-4" style="display:none;">
                  <div class="form-group"><input type="text" class="form-control form-control-sm" id="TOPICRANGE_<%= toc[i].ref %>" placeholder="Aya range" value="<%= toc[i].range %>"></div>
                  <div class="form-group"><input type="text" class="form-control form-control-sm" id="TOPICKEYS_<%= toc[i].ref %>" placeholder="Key ayas" value="<%= toc[i].keys %>"></div>
                  <div class="form-group"><input type="text" class="form-control form-control-sm" id="TOPICTAGS_<%= toc[i].ref %>" placeholder="Hashtags" value="<%= toc[i].tags %>"></div>
                  <button type="submit" class="admin-ctrls-update btn btn-sm btn-warning" data-ref="<%= toc[i].ref %>">Update</button>
                </div>
                <% } %>
                <% if (tags && toc[i].tags) { %>
                  <div class="tags">
                    <i class="me-2 fas fa-hashtag"></i>
                  <%
                      var tags = toc[i].tags.split(/\s+/g);
                      for (var t = 0; t < tags.length; t++) {
                  %>
                    <a class="tag"><%= tags[t] %></a>
                  <%
                      }
                  %>
                  </div>
                <% } %>
              </article>
              <aside id="ASIDE_<%= id %>" data-id="<%= id %>" class="topics-detail collapse">
                <div class="card card-body">
                  <div class="row">
                    <div class="col-md-6 col-12 trans"></div>
                    <div lang="ar" class="col-md-6 col-12 text"></div>
                  </div>
                  <div class="row">
                    <div class="col-12 more">
                      <a target="qu" href="https://quranunlocked.com/<%= toc[i].sura %>/<%= range[0] %>">More Translations&hellip;</a>
                    </div>
                  </div>
                </div>
              </aside>

      <% } %>
        </section>
      </div>

    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3c8decddde.js" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>

    <% if (admin) { %>
      <script>
        $('.topics-text').dblclick(function () {
            $(this).attr('contenteditable', 'true');
            $(this).parent().parent().find('.admin-ctrls').show();
        });
        $('.admin-ctrls-update').click(function () {
            var ref = $(this).data('ref');
            var topics = $('#TOPICREF_' + ref).find('.topics-text').text().trim();
            var range = $('#TOPICRANGE_' + ref).val().trim();
            var keys = $('#TOPICKEYS_' + ref).val().trim();
            var tags = $('#TOPICTAGS_' + ref).val().trim();
            $.post('/u', {
                ref: ref,
                range: range,
                keys: keys,
                topics: topics,
                tags: tags
            }, function (data) {
                history.go(0);
                return true;
            }).fail(function (err) {
                alert('Error updating item: ' + err.status + ' ' + err.statusText);
            });
        });
      </script>
    <% } %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-406B5QQ1B0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-406B5QQ1B0');
  </script>

</body>
</html>